.App {
  text-align: center;
  background: linear-gradient(to bottom left, #003366, #3c4da5),url('\logo.jpg'); /* Gradient background */
  
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(8, 6, 6, 0.5);
  display: listitem;
  flex-direction: columnrow;
  align-items: center;
  justify-content: left;
  gap: 750px;
  animation: fadeIn 1s ease-out;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(21, 13, 13, 0.7);
}

button, select {
  margin: 10px;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button {
  background-color: #007BFF; /* Blue */
  color: #FFFFFF;
}

button:hover {
  background-color: #0056b3; /* Darker blue */
  transform: scale(1.05);
}

select {
  background-color: #FFFFFF;
  color: #090707;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
}

select:hover {
  background-color: #f1f1f1;
  transform: scale(1.05);
}

option {
  background-color: #FFFFFF;
  color: #000;
  padding: 10px;
}

/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
