.file-retrieve {
    position: relative;
    animation: slideInFromRight 1s ease-out;
  }
  
  .file-retrieve button {
    background-color: #28a745; /* Green */
    color: white;
    padding: 10px 30px;
    padding-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .file-retrieve button:hover {
    background-color: #218838; /* Darker green */
    transform: scale(1.05);
  }
  
  .retrieve-message {
    margin-top: 10px;
    font-size: 14px;
    color: #00ff00; /* Green for success */
    animation: fadeIn 0.5s ease-out;
  }
  