body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('./bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.App {
  text-align: center;
}

header h1 {
  color: white;
  font-size: 3rem;
  text-shadow: 1px 1px 2px black;
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px); /* Adjust based on your header height */
  width: 100%;
  padding: 20px;
  color: white;
  overflow: hidden;
  position: relative;
}

.upload-box, .stored-files {
  width: 80%;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30%;
  left: 30%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.upload-box {
  transform: translateX(-100%);
}

.stored-files {
  transform: translateX(100%);
}

.upload-box.active, .stored-files.active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

.message {
  color: yellow;
  text-align: center;
  margin: 10px 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

/* Navigation styles */
nav {
  margin-bottom: 20px;
}

nav button {
  margin: 0 10px;
}

/* Sort container styles */
.sort-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.sort-container label {
  margin-right: 10px;
}

.sort-container select {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Pagination styles */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 80%;
  max-width: 800px;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
