/* Footer.css */
.footer {
    text-align: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    bottom: 0;
    left:0;
    z-index: 100;
    line-height: 10px;
  }
  