/* Footer.css */
.footer {
    text-align: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    bottom: 100px;
    left:200;
    z-index: 100;
    line-height: 10px;
  }
  