.sort-container {
  margin-bottom: 20px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.file-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid white;
  color: white;
  cursor: pointer;
}

.file-header span {
  flex: 1;
  text-align: center;
}

.file-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid white;
  color: white;
}

.file-item span {
  flex: 1;
  text-align: left;
}

.file-item button {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.file-item button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.message {
  color: yellow;
}
